<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>톺아보기</title>
<link rel="stylesheet" type="text/css" th:href="@{./css/thymeleaf.css}">
</head>
<body>
	<th:block th:insert="~{/menu.html :: menu}"></th:block>
	<h1>detail</h1>
	<div>
		번호 : [[${detail.bno}]]<br>
		제목 : [[${detail.btitle}]]<br>
		글쓴이 : [[${detail.m_name}]]<br>
		날짜 : [[${detail.bdate}]]<br>
		내용 : [[${detail.bcontent}]]<br>
	</div>
	<button th:onclick="|location.href='@{/board}'|">게시판으로</button>
		
	<th:block th:insert="~{/menu.html :: footer}"></th:block>
</body>
</html>